<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475746270948-c6ouhnik4j9upp26b5783bma1qmvsldp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475746270948-c6ouhnik4j9upp26b5783bma1qmvsldp</string>
	<key>API_KEY</key>
	<string>AIzaSyBiLxvddwCWDsoT-OT7KBikhSMbQ2kUpaU</string>
	<key>GCM_SENDER_ID</key>
	<string>475746270948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passbox</string>
	<key>PROJECT_ID</key>
	<string>passbox-e80de</string>
	<key>STORAGE_BUCKET</key>
	<string>passbox-e80de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475746270948:ios:fb7ec7cb9ce27e8be9f6f1</string>
</dict>
</plist>